/*simple reset*/
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
figure, figcaption, video, audio, img,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

:root {
  --trebleVol: 1;
  --midVol: 1;
  --bassVol: 1;
}

html {cursor: none;}

body {
  font-size:100%;
  font-family: 'helvetica neue' helvetica arial sans-serif;
}

#screen {
  height: 100vh; width:100%;
  box-sizing: border-box;
  overflow: hidden; position: relative;
  background-color: black;
}
#screen > div,
#screen > div > section {
  position: absolute; top:0px; left:0px;
  width: 100%; height: 100vh;
}
.screen {opacity: 0;}
.screen:nth-of-type(1) {opacity: 1;}


.video {display:none;}
.video video {width:100%; height:auto;}

.css {background-color: black;}

/*black & white covers for fading in and out*/
#black, #white {
  height: 100vh; width:100%;
  position: absolute; top:0px; left:0px;
  opacity: 0;
}
#black {background-color: black;}
#white {background-color: white;}





/*for css elements*/
.cssShow {
  transition: opacity 400ms;
}
.cssHide {
  opacity: 0;
}

.container {
  margin: 1%; padding: 0px;
  font-size: 1.2em;
}



/*~~~~~~~~~~~~~~*/
#squareLights {
  margin: 1%;
  flex-wrap: wrap;
}
#squareLights i {
  display: block;
  width: 10vw; height: 10vh;
  border-radius:2px;
  opacity:0.2;
}
/*~~~~~~~~~~~~~~*/
#simpleSpectrum {
  width: 100%; height: 95vh;
  line-height:95vh;
  text-align: center;
}
#simpleSpectrum i {
  display:inline-block; margin: 0px 3px;
  background: white;
  width:10px; height: 6px;
}
/*~~~~~~~~~~~~~~*/
#barToFish i {
  position: absolute;
  display: block; width: 10vw; height: 10vh;
  background-color: red;
  border-radius: calc(10vw * var(--trebleVol));
}
/*~~~~~~~~~~~~~~*/
#resizeSqLights {
  flex-wrap: wrap;
}
#resizeSqLights {
  display: block;
  width: 20vw; height: 19vh;
  background-image: linear-gradient(90deg, hsla(0,80%,50%,0.2), hsla(0,80%,50%,0.2));
    background-size: 25% 25%;
    background-repeat: no-repeat;
    background-position: center center;
}
/*~~~~~~~~~~~~~~*/
#expandLines i {
  position: absolute;
  display: block; width: calc(20vw * var(--midVol)); height: 2vw;
  background-color: red;
}
/*~~~~~~~~~~~~~~*/
#fish i {
  position: absolute;
  display: block; width: 10vw; height: 10vh;
  border: calc(10vw * var(--trebleVol)) solid transparent;
  border-right: none;
}
/*~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~*/

/*~~~ Video clip 'tracks'*/
#video {
  display: block;
}
#video video {
  width:100%; height:auto;
  position: absolute; top:-13%; left:0px;

}




