/*simple reset*/
html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
figure, figcaption, video, audio, img,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

body {
  font-size:100%;
  font-family: 'helvetica neue' helvetica arial sans-serif;
}

/*for css elements*/
.cssShow {
  transition: opacity 400ms;
}
.cssHide {
  opacity: 0;
}

.container {
  margin: 1%; padding: 0px;
  font-size: 1.2em;
}

#controls {
  height: 4vh; width: 100%;
  -webkit-box-sizing: border-box;
  border: 1px solid darkgrey;

  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#controls button {
  width: 6%;
  -webkit-box-sizing: border-box;
  color: white;
  cursor: pointer;
}

#screen {
  height: 92vh; width:100%;
  -webkit-box-sizing: border-box;
  overflow: hidden; position: relative;
  background-color: black;
  border: 1px solid grey;
}

/*~~~ CSS created 'tracks'*/
#css {
}
#css section {
}
#squareLights {
  /*display: none;*/
  margin: 1%;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
#squareLights i {
  display:inline-block; margin:2%;
  width:50px; height:50px;
  background-color:hsla(0, 80%, 50%, 1);
  border:10px solid hsla(0, 80%, 50%, 1);
  border-radius:2px;
  opacity:0.2;
}
#difSizedCircles {
  display: none;
  position: relative;
}
#difSizedCircles b {
  position: absolute;
  width:50px; height:50px;
  background-color:hsla(0, 80%, 50%, 1);
  border:10px solid hsla(0, 80%, 50%, 1);
  border-radius:100px;
  opacity:0.2;
}

/*~~~ Video clip 'tracks'*/
#video {
  display: none;
}
#video video {
  width:100%; height:auto;
  position: absolute; top:-13%; left:0px;

}

/*black & white covers fro fading in and out*/
#black, #white {
  height: 92vh; width:100%;
  position: absolute; top:0px; left:0px;
  opacity: 0;
}
#black {background-color: black;}
#white {background-color: white;}



